# Ignore test binaries but not sources
*.log
*.trs
*.o
ast_test
simplify
test*
wcsconverter
!test*.c
!test*.f
!test*.sh

# Generated test outputs
divide_roundtrip.asdf
lsst_wcs.asdf
nativetest.yaml
sphmap_roundtrip.asdf
tanSipWcs.asdf
yamltest.asdf
